{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">About</span></h1>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Sponsors</h2>
		<div class="content">
			<p>mBIT is proudly sponsored by <a href="https://www.unither.com">United Therapeutics</a>, <a href="https://artofproblemsolving.com/">Art of Problem Solving</a>, <a href="https://www.mbhsmagnet.org/">Magnet Foundation</a>, <a href="https://www.janestreet.com/">Jane Street</a>, and <a href="https://www.non-trivial.org/">Non-Trivial</a>.
			<p style="display: flex; align-items: center; margin-top: 1em; margin-bottom: 1em;">
			
				<a href="https://www.unither.com"><img src="/unither.png" style="padding-right: 1em;"></a>
				<a href="https://artofproblemsolving.com/"><img src="/aops.svg" width=220 style="margin-left: -13px"></a>
				<a href="https://www.mbhsmagnet.org/"><img src="/magnet.png" width=120 style="margin-left: -13px"></a>
				<a href="https://www.janestreet.com/"><img src="/janestreet.png" width=220 style="margin-left: 10px"></a>
				<a href="https://www.non-trivial.org/"><img src="/nontrivial.png" width=220 style="margin-left: 10px"></a>
			
			</p>
			<p>Interested in sponsoring? Send us an email at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>.</p>
		</div>
		<h2 class="subtitle is-4">Organizers</h2>
		<div class="content">
			<p>mBIT is a programming competition run by students from Montgomery Blair High School. Our teacher sponsor is <a href="mailto:Nora_A_Burkhauser@mcpsmd.org">Ms. Burkhauser</a>.</p>
			<p>Our current organizers are:</p>
			<ul>
				<li>Class of 2024:</li>
				<ul>
					<li>Kelin Zhu</li>
					<li>Sameer Mehta</li>
				
				</ul>
				<li>Class of 2025:</li>
				<ul>
					<li>Daniel Wu</li>
					<li>Stephen Zhang</li>
					<li>Meru Gopalan</li>
					<li>Olivia Guo</li>
					<li>Arianne Guisadio</li>
					<li>Linh Hoang</li>
				</ul>
				<li>Class of 2026:</li>
				<ul>
					<li>James Attis</li>
					<li>Andrei Dorobantu</li>
					<li>Eliana Wang</li>
					<li>Jojo B Lake</li>
					<li>Julian Kovalovsky</li>

				</ul>
		
			</ul>
			<p>Our former organizers are:</p>
			<img style="margin-bottom: 0.8rem;" src="/images/2019/organizers.jpg">
			<ul>
				<li>Class of 2023:</li>
				<ul>
					<li>Areeb Gani</li>
					<li>Joshua Hsieh</li>
					<li>Harikesh Kailad</li>
					<li>Joshua Wang</li>
				</ul>
				<li>Class of 2022:</li>
				<ul>
					<li>Jason An</li>
					<li>Jiaoli Bowden</li>
					<li>Matthew Casertano</li>
					<li>Chujia Guo</li>
					<li>Phillip Guo</li>
					<li>Andrew Healey</li>
					<li>Linhui Jin</li>
					<li>Clarence Lam</li>
					<li>Joy Song</li>
					<li>Steven Su</li>
					<li>Jeffrey Tong</li>
					<li>Iris Xue</li>
					<li>Claire Zhang</li>
				</ul>
				<li>Class of 2021:</li>
				<ul>
					<li>Colin Galen</li>
					<li>Kevin Higgs</li>
					<li>Vivian Li</li>
					<li>Aaron Mei</li>
					<li>Timothy Qian</li>
					<li>Ayush Varshney</li>
					<li>Evan Wang</li>
					<li>Gabriel Wu</li>
					<li>Maxwell Zhang</li>
				</ul>
				<li>Class of 2020:</li>
				<ul>
					<li>Jason Hsu</li>
					<li>Peter Zhang</li>
				</ul>
			<ul>
		</div>
	</div>
</section>
{% endblock %}
