{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">About</span></h1>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Organizers</h2>
		<div class="content">
			<p>mBIT is a programming competition run by students from Montgomery Blair High School. The teacher sponsor is <a href="mailto:Vickie_L_Wright@mcpsmd.org">Ms. Wright</a>.</p>
			<p>The student contributors, in no particular order, are:</p>
			<ul>
				<li>Timothy Qian</li>
				<li>Colin Galen</li>
				<li>Gabriel Wu</li>
				<li>Maxwell Zhang</li>
				<li>Aaron Mei</li>
				<li>Ayush Varshney</li>
				<li>Kevin Higgs</li>
				<li>Jason Hsu</li>
				<li>Peter Zhang</li>
				<li>Shawn Zhao</li>
			</ul>
		</div>
		<h2 class="subtitle is-4">Sponsors</h2>
		<div class="content">
			<p>mBIT is proudly sponsored by <a href="https://www.unither.com">United Therapeutics</a> and the <a href="http://www.mbhsmagnet.org/">Montgomery Blair High School Magnet Foundation</a>.
			<p style="display: flex; align-items: center;"><a href="https://www.unither.com"><img src="/unither.png" style="padding-right: 1em;"></a><a href="http://www.mbhsmagnet.org/"><img src="/magnet.png" width=100 height=100></a></p>
			<p>Interested in sponsoring? Send us an email at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>.</p>
		</div>
	</div>
</section>
{% endblock %}
