<!doctype html>
<html lang="en">
	<head>
		<title>mBIT</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="notification-top notification is-primary">
			mBIT will be hosting the Spring 2024 In-Person Round on June 8th. <a href="https://docs.google.com/forms/d/1xuxpRnFR-uMXdiX2p-1oTutfz6PXqIBbLNzJyI6tfqY/edit">Registration is now open!</a>
		</div>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<div class="navbar-item"><a class="button" href="/"><span class="has-text-primary">m</span>BIT</a></div>
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div id="navbar" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/logistics">Logistics</a>
					<a class="navbar-item" href="/rules">Rules</a>
					<a class="navbar-item" href="/about">About</a>
					<a class="navbar-item" href="/archive">Archive</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-primary" href="https://docs.google.com/forms/d/1xuxpRnFR-uMXdiX2p-1oTutfz6PXqIBbLNzJyI6tfqY/edit">
								<strong>Register</strong>
							</a>
							<!-- <a class="button is-light" href="https://mbit-live.mbhs.edu/login">Login</a> -->
						</div>
					</div>
				</div>
				
			</div>
		</nav>
		<main class="wrapper">
		{% block content %}
		{% endblock %}
		</main>
		<footer class="footer">
			<div class="content has-text-centered">
				<p>Organized by students at <a href="https://mbhs.edu">Montgomery Blair High School</a>.</p>
			</div>
		</footer>
		<script src="/ui.js"></script>
	</body>
</html>
