{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary is-medium">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
	  				<article class="message">
		  				<div class="message-header has-background-white">
							<h1 class="title big has-text-centered">
								<span class="has-text-primary">m</span><span class="has-text-grey">BIT</span>
							</h1>
		  				</div>
		  				<div class="message-body">
		  					<h2 class="subtitle has-text-centered is-family-monospace">
			  					<p>Montgomery Blair Informatics Tournament</p>
			  					<a href="/archive/2019" style="text-decoration: none"><p class="hero-date"><strong>2019 Results</strong></p></a>
		  					</h2>
		  				</div>
		  			</article>
	  			</div>
	  		</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="tile is-ancestor columns is-centered info-boxes">
			<div class="tile is-parent is-10">
				<div class="tile is-child">
					<div class="columns">
						<div class="column">
							<div class="message has-background-white">
								<div class="is-size-5 message-header has-background-info">
	  							<h1 class="title is-size-5 has-text-white">Compete with peers.</h1>
	  						</div>
								<div class="message-body has-background-white is-size-6">
									<p>Come join fellow students across the region in a fun and friendly competition. Show off your programing knowledge and win awards!</p>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="message has-background-white">
								<div class="is-size-5 message-header has-background-info">
	  							<h1 class="title is-size-5 has-text-white">Collaborate with friends.</h1>
	  						</div>
								<div class="message-body has-background-white">
									<p>Bring up to three of your friends and form a team. Successful programmers are also helpful and supportive teammates. Work together!</p>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="message has-background-white">
								<div class="is-size-5 message-header has-background-info">
	  							<h1 class="title is-size-5 has-text-white">Code something new.</h1>
	  						</div>
								<div class="message-body has-background-white">
									<p>Whether you're a programming rookie or a coding veteran, these questions will make you think in new and creative ways. Everyone will learn something new!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="divider">
		<div class="tile is-ancestor columns is-centered">
			<div class="tile is-vertical is-parent is-5">
				<div class="message info-box is-child tile has-background-white">
					<div class="is-size-5 message-header has-background-light">
						<h1 class="title is-size-3 has-text-slightly-dark-grey">Overview</h1>
					</div>
					<div class="message-body has-background-white content">
						<p>mBIT is a competitive programming competition for middle and high school students of all skill levels, organized by students from Montgomery Blair High School. The competition will take place on <strong>Saturday, November 2, 2019</strong> from <strong>9:00 AM to 2:30 PM.</strong></p>
						<p>Students will work in <strong>teams of up to four</strong> to solve interesting and challenging programming problems. There will be prizes for the top teams in each division.</p>
						<p>For more information, be sure to visit the <a href="/logistics">logistics</a> and <a href="/rules">rules</a> pages. If you have any questions about the competition, feel free to email us at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>.</p>
					</div>
				</div>
			</div>
			<div class="tile is-vertical is-parent is-5">
				<div class="message info-box is-child tile has-background-white">
					<div class="is-size-5 message-header has-background-light">
						<h1 class="title is-size-3 has-text-slightly-dark-grey">Sample Problems</h1>
					</div>
					<div class="message-body has-background-white content">
						<p>These sample problems are provided to give you an idea of which divison you should register for; if you can solve each of the rookie ones easily, you should probably compete under varsity. Keep in mind that the problems in the competition will primarily focus on thinking and problem solving, not rote memorization of algorithms and data structures.</p>
						<p>The sample problems are available for download <a href="mBITSampleProblems.pdf">here</a>, and the solutions are available <a href="mBITSampleSolutions.pdf">here</a> (but you should try them first!).</p>
						<p>If you are looking for more practice for the competition, <a href="http://www.usaco.org/index.php?page=contests">old USACO problems</a> and the <a href="https://train.usaco.org/usacogate">USACO training pages</a> are great places to start.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tile is-ancestor columns is-centered">
			<div class="tile is-parent is-10">
				<div class="message info-box is-child tile">
					<div class="is-size-5 message-header has-background-light">
						<h1 class="title is-size-3 has-text-slightly-dark-grey">Sponsors</h1>
					</div>
					<div class="message-body has-background-white">
						<p>mBIT is proudly sponsored by <a href="https://www.unither.com">United Therapeutics</a>, the <a href="http://www.mbhsmagnet.org/">Montgomery Blair High School Magnet Foundation</a>, and <a href="https://artofproblemsolving.com/">Art of Problem Solving</a>.
						<p style="display: flex; align-items: center; margin-top: 1em; margin-bottom: 1em;"><a href="https://www.unither.com"><img src="/unither.png" style="padding-right: 1em;"></a><a href="http://www.mbhsmagnet.org/"><img src="/magnet.png" width=100 height=100></a><a href="https://artofproblemsolving.com/"><img src="/aops.svg" width=220 style="margin-left: -13px"></a></p>
						<p>Interested in sponsoring? Send us an email at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
