{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">Logistics</span></h1>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Time and Location</h2>
		<div class="content">
			<p>mBIT will be held at Montgomery Blair High School on <strong>Saturday, November 2, 2019</strong> from <strong>9:00 AM to 2:30 PM.</strong> Our address is <strong>51 University Blvd E, Silver Spring, MD 20901.</strong></p>
			<p>Here is the schedule:</p>
			<table class="schedule">
				<tbody><tr><td>8:30 - 9:00 AM</td><td>Registration</td></tr>
				<tr><td>9:00 - 9:15 AM</td><td>Opening Statements</td></tr>
				<tr><td>9:30 AM</td><td>Contest Begins</td></tr>
				<tr><td>12:00 PM</td><td>Lunch</td></tr>
				<tr><td>1:30 PM</td><td>Contest Closes</td></tr>
				<tr><td>1:30 - 2:00 PM</td><td>Fun Round</td></tr>
				<tr><td>2:00 - 2:30 PM</td><td>Awards Ceremony</td></tr>
			</tbody></table>
		</div>
		<h2 class="subtitle is-4">Competition</h2>
		<div class="content">
			<p>The main competition will be 4 hours long and will consist of a number of programming challenges that teams must work together to solve. For specifics on grading and scoring, read the <a href="/rules">competition rules</a> and check out our <a href="/mBITSampleProblems.pdf">sample problems</a>.</p>
			<p>The fun round will be half an hour packed with fun programming puzzles, including code golf, esoteric languages, and anything else we can think of!</p>
		</div>
		<h2 class="subtitle is-4">Registration</h2>
		<div class="content">
			<p>Registration is now open! <strong>Each competitor needs to fill out the following form: <a target="_blank" rel="noopener" href="https://tinyurl.com/mbit2019">https://tinyurl.com/mbit2019</a>.</strong> Sign-ups are provided on a first-come, first-served basis. For information on which division to choose, visit the <a href="/rules">rules page</a>.</p>
			<p>Each team will need an adult sponsor. The sponsor should stay during the event and will be fed. Multiple teams can have the same sponsor (for example, a teacher may be the sponsor of all teams from a school). If the sponsor is not an MCPS employee, they will have to complete a 30 minute online training course. More information about this will be sent out later.</p>
			<p>We will also provide lunch, so let us know in the form about any dietary restrictions we may need to accommodate. T-shirts are available and will be free for now. If you have any questions, or if something has changed after filling out the registration form, please send us an email at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>. We hope to see you there!</p>
		</div>
		<br>
	</div>
</section>
{% endblock %}
