{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">Logistics</span></h1>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Time and Location</h2>
		<div class="content">
			<p>mBIT will be held at Montgomery Blair High School in <strong>Fall 2019</strong> (exact date is TBD). Our address is <strong>51 University Blvd E, Silver Spring, MD 20901</strong>. Teachers and parents are welcome.</p>
		</div>
		<h2 class="subtitle is-4">Registration</h2>
		<div class="content">
			<p>Any <strong>middle or high school student</strong> is eligible to participate in the competition. Registration is provided on a first-come, first-served basis. Registration is not open yet, but be sure to fill out our <a href="">interest form</a> to lets us know you want to come!</p>
		</div>
	</div>
</section>
{% endblock %}
