{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">Logistics</span></h1>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Competition</h2>
		<div class="content">
			<p>The competition will be 3 hours (non-consecutive) long and will consist of a number of programming challenges that teams must work together to solve. For specifics on grading, scoring, and prizes, read the <a href="/rules">competition rules</a> and check out the problems in our <a href="/archive">archive</a>.</p>
		</div>
		<h2 class="subtitle is-4">Registration</h2>
		<div class="content">
			<p><strong>Registration is now open.</strong> Create only one account per team. Once you have created the team account, choose a team name and fill out information on each member in the <em>Profile</em> section. Share the account username and password with your teammates. You may edit your team information at any time.</p>
			<p>If you have any questions, please send us an email at <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a>.</p>
		</div>
		<br>
	</div>
</section>
{% endblock %}
