{% extends 'base.html' %} {% block content %}
<section class="hero has-background-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                <span class="has-text-white">Rules</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="subtitle is-4">Teams</h2>
        <div class="content">
            <p>
                <strong>Anyone</strong> is eligible to participate in the
                competition. Participants may compete in
                <strong>teams of up to three</strong> and are allowed to access
                reference books and the internet; however, they are encouraged
                to cite sources if they use code found online. Directly asking
                for assistance during the competion from anyone other than
                tournament organizers is not permitted. The use of generative AI
                is strictly prohibited. This includes models such as ChatGPT,
                Claude, Copilot, Cursor, and Gemini.
            </p>
            <!-- <p>There are three divisions: <strong>standard and advanced.</strong> Standard division concepts include lists, loops, recursion, and algorithms such as BFS and binary search. Problems in the advanced division emphasize algorithmic complexity and efficiency, with concepts including pathfinding, dynamic programming, and segment trees.</p> -->
            <!-- <p>Generally speaking, standard division problems range from Bronze to low Gold USACO levels, while the advanced division problems range from Silver to Platinum. Take a look at our <a href="/archive">archive</a> to get a sense of the difficulty of each division. The sample problems on the <a href="/">home page</a> can serve as additional guidance for which division to choose.</p> -->
        </div>
        <h2 class="subtitle is-4">Prizes</h2>
        <div class="content">
            <p>
                Over $800 in prizes will be awarded. Below are the monetary
                prizes that will be offered for the three divisions. Prizes are
                shared across the team. Additional prizes will be offered for
                in-person participants (shirts, sponsor swag, etc.).
            </p>
        </div>
        <div class="content">
            <p>In-person:</p>
            <ul>
                <li>Intermediate top 3: $90, $60, $45</li>
                <li>Beginner high school top 3: $90, $60, $45</li>
                <li>Beginner middle school top 3: $90, $60, $45</li>
            </ul>
        </div>
        <div class="content">
            <p>Online:</p>
            <ul>
                <li>Advanced top 3: $90, $60, $30</li>
                <li>Intermediate top 1: $30</li>
            </ul>
        </div>
        <h2 class="subtitle is-4">Grading</h2>
        <div class="content">
            <p>
                Grading will take place on codeforces. Scoring is done
                <b>ICPC</b> style (each problem is worth one point and no
                partial credit with ties based on time/incorrect submissions).
                Test cases are designed so that all incorrect submissions should
                be rejected.
            </p>
        </div>
        <h2 class="subtitle is-4">Conduct</h2>
        <div class="content">
            <p>
                All participants are expected to
                <strong>behave appropriately</strong>, both in-person and
                online. This includes being respectful to others, following
                competition rules, and using common sense. Violation of any of
                these rules is grounds for disqualification from the
                competition.
            </p>
        </div>
    </div>
</section>
{% endblock %}
