{% extends 'base.html' %}

{% block content %}
<section class="hero has-background-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1"><span class="has-text-white">Schedule</span></h1>
	</div>
</section>
<section class="section">
	<div class="container">
		<h2 class="subtitle is-4">Time</h2>
		<div class="content">
			<p>mBIT will be hosted on <strong>Saturday, June 8, 2024</strong> from <strong>9:00 AM to 3:30 PM EDT</strong>. The competition will be simultaneously hosted in-person at Montgomery Blair High School and online on <a href="https://codeforces.com/">codeforces.com.</a> The competition is open to teams of four and is offered at two divisions. Register now!</p>
		</div>
		<h2 class="subtitle is-4">Schedule</h2>
		<div class="content">
			<p>Organizers setup 8:00 - 9:00</p>
			<p>Participants check in 9:00 - 10:00</p>
			<p>Opening ceremony 10:00 - 10:30</p>
			<p>Table claim, practice problem submission 10:30 - 11:00</p>
			<p>Competition 11:00 - 2:00</p>
			<p><a href="/shh">Break</a>> 2:00 - 2:30</p>
			<p>Fun round 2:30 - 3:00</p>
			<p>Closing ceremony 3:00 - 3:30</p>
		</div>
	</div>
</section>
{% endblock %}
